body { 
 		SCROLLBAR-FACE-COLOR: white; 
 		SCROLLBAR-HIGHLIGHT-COLOR: darkgrey; 
 		SCROLLBAR-SHADOW-COLOR: lightgrey; 
 		SCROLLBAR-ARROW-COLOR: darkgrey; 
 		SCROLLBAR-TRACK-COLOR:white; 
 		SCROLLBAR-BASE-COLOR:white; 
 		scrollbars-3dlight-color: darkgrey }
