body { background-color:white;
    height: 329px;
}

ul.list {
    list-style-type: none;
    margin: 0;
    padding-top:8px;
    overflow: hidden;
    background-color: midnightblue;
    height:40px;
    width: auto;
}

li {
    float: left;
    width: 151px;
    height: 25px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 148px;
    height: 54px;
}
li a:hover:not(.active) {
    background-color: green;
}
.active {
          background-color: #4CAF50;
        }


.input{
         height:45px;
         width:300px;
         font-size:15px;
         margin-bottom:20px;
         padding-left:30px;

        }
.links {
             line-height: 2.2em;
             font-size: 14px;
        }
#source{
        background:url("sourceimage.png") left no-repeat;
        padding-left:60px;
        }
#destination{
              background:url("destination.png") left no-repeat;
              width:290px;
              padding-left:60px;
              height:45px;
             }
.sd{
    position:absolute;
  color:#fff;
  top:50%;
  left:50%;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
#calendar{
        background:url("calendar.png") left no-repeat;
        width:290px;
        padding-left:60px;
        height:45px;
       }
#pbdetails{
    width:55%;
    padding-top:15px;
}