<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <connectionStrings>
    <add name="constring" connectionString="Data Source=SANDY; Initial Catalog=project; User ID=sa; Password=sql2008;" />
    <add name="projectConnectionString" connectionString="Data Source=SANDY;Initial Catalog=project;Persist Security Info=True;User ID=sa;Password=sql2008"
      providerName="System.Data.SqlClient" />
  </connectionStrings> 
  <system.net>
    <mailSettings>
      <smtp from="onlinebuseat@gmail.com">
        <network host="gmail.com" port="587" enableSsl="true"/>
      </smtp>
          
        
      
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>